<section class="column background-black pl-6 pr-6" id="homepage-buttons">
    <!-- hostGameBtn in JS -->
    <button href="api/game" class="button is-fullwidth mb-3 background-red" id="host">
        Host A Game
    </button>
    <!-- joinGameBtn in JS -->
    <button href="/" class="button is-fullwidth background-blue" id="join">
        Join A Game
    </button>
</section>