<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css"/>

    <link rel="icon" type="image/x-icon" href="./assets/images/crown.png">
    <title>Assassination</title>
</head>
<body class="background-black">
    <!-- navigation bar to show when in tablet or larger -->
    <div class="columns">
        <div class="column">
            <nav class="navbar background-black is-fixed-top is-hidden-mobile" id="navigation">
                <img src="./assets/images/assassination_navbar.png" alt="Assassination: Between Two Kingdoms" class="" id="navigation-img">

                {{!-- <a href="#game-instructions" class="navbar-item navbar-end is-4 text-white mt-6" id="nav-game">
                    The Game
                </a>
                <a href="#role-explanation" class="navbar-item is-4 text-white mt-6 ml-5 mr-4" id="nav-role">
                    The Role Cards
                </a> --}}
            </nav>
        </div>
    </div>

    <!-- title image to show on mobile -->
    <div class="mobile-image">
        <img src="./assets/images/assassination_navbar.png" alt="Assassination: Between Two Kingdoms" class="is-hidden-tablet">
    </div>

    {{{ body }}}

    <footer class="text-white has-text-centered p-5">
        Built by Aaron Jones, Rachel Marriott, Jeremy Anderson, Ilan Timerman, and Lilly Leiran
    </footer>
    <script src="./assets/js/homepage.js"></script>
</body>
</html>