#page {
    height: 100vh;
    padding-left: 0;
    margin: 0;
}

#container-game-code {
    margin: 0 auto;
}

#player-list {
    height: 60%;
}

#start-game {
    margin: 0 auto;
}

#game-info-pannel {
    height: 80vh;
}

#game-info-menu {
    border-bottom-style:solid;
    border-color: black;
    border-width: 1px;
}

.width {
    width: 100%;
}