/* universal selector */
/* removes default margin and padding from everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

:root {
    --black: #1E1E24;
    --white: #F7F7FF;
    --blue: #2274A5;
    --red: #A92335;
}
/* universal selector */

/* utility classes */
.background-black {
    background-color: var(--black) !important;
}

.background-red {
    background-color: var(--red);
}

.background-blue {
    background-color: var(--blue);
}

.text-white {
    color: var(--white) !important;
}

.text-red {
    color: var(--red) !important;
}

.text-blue {
    color: var(--blue) !important;
}
/* utility classes */


/* navbar - displays tablet and bigger */
#navigation-img {
    width: 400px;
    margin: 15px;
}

#nav-game:hover {
    background-color: var(--black) !important;
    color: var(--red) !important;
}

#nav-role:hover {
    background-color: var(--black) !important;
    color: var(--blue) !important;
}

.back-btn:hover {
    background-color: var(--black) !important;
    color: var(--blue) !important;
}
/* navbar - displays tablet and bigger */


/* title and buttons column */
#host, #play, #submit {
    border: none !important;
}

#player-form {
    margin-top: 25px !important;
    opacity: 90% !important;
}

button#submit {
    font-family: 'Merriweather', serif;
}

#homepage-buttons {
    margin-top: 20px !important;
    opacity: 90% !important;
}
/* title and buttons column */


/* story, game, and role card column */
#right-column {
    padding: 25px;
}

h3 {
    font-size: 30px;
    font-family: 'MedievalSharp', cursive;
    margin-top: 20px;
}

#story {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

#game-instructions {
    margin: 10px;
    padding: 10px;
}

#role-explanation {
    padding: 10px;
    list-style: circle;
}
/* story, game, and role card column */

/* footer style */
footer {
    font-size: 12px;
}
/* footer style */

@media screen and (min-width: 768px) {
    /* applies to screens above 768px */

    #navigation {
        top: 0;
        position: sticky;
        position: -webkit-sticky;
        z-index: 999;
    }

    #right-column {
        height: 78vh;
        overflow: scroll;
        padding: 0%;
    }
}